/* Header.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.title {
    font-family: cursive
}
.header {
  width: 100%;
  background-color: rgba(242, 238, 238, 0.284);
  position: absolute;
  top: 10px;
  z-index: 1000;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 24px;
  color: #4f46e5;
}

.logo h2 {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #4b5563;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  padding-bottom: 6px;
}

/* Hover */

.nav a:hover {
  color: #4f46e5;
}

/* Active Tab */

.active-link {
  color: #4f46e5 !important;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 3px;

  background: #4f46e5;
  border-radius: 20px;
}

/* Right Section */

.right-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Heart Button */

.icon-btn {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #f3f4f6;

  font-size: 18px;
  cursor: pointer;

  transition: 0.3s;
}

.icon-btn:hover {
  background: #e5e7eb;
  transform: scale(1.05);
}

/* Profile */

.profile img {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  object-fit: cover;

  cursor: pointer;
}

/* Hamburger */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;

  background: #111827;
  border-radius: 10px;

  transition: 0.3s;
}

/* Hamburger Animation */

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

/* Responsive */

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 72px;
    left: 0;

    width: 100%;

    background: white;
    border-bottom: 1px solid #e5e7eb;

    flex-direction: column;
    align-items: center;

    gap: 24px;
    padding: 24px 0;

    display: none;
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    font-size: 18px;
  }
}